@using Entities.Concrete
@model Adaptation
@{
    ViewBag.Title = "AdaptationGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdaptationGet</h2>

<h2>PersonelIntibakGetir</h2>

<h2>PersonelGetir</h2>
<h4>Genel Bilgiler</h4>
@using (Html.BeginForm("AdaptationUpdate", "Adaptation", FormMethod.Post))
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>

                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td class="sorting_1"><b>Hizmetin Gectiği Yer</b></td>
                        <td>
                            @Html.HiddenFor(x => x.KimlikBilgiId)
                            @Html.HiddenFor(x => x.IntibakBilgiId)
                            @Html.TextBoxFor(x => x.HizmetinGecYer, null, new { @class = "form-control" })
                        </td>
                        <td><b>Hizmetin Geçtiği Kurum</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.HizmetinGecKurum, null, new { @class = "form-control" })
                        </td>
                        <td><b>Başlama Tarihi</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.BaslamaTarihi, null, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td><b>Bitiş Tarihi</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.BitisTarihi, null, new { @class = "form-control" })
                        </td>
                        <td><b>Prim Gün Sayısı</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.PrimGunSayisi, null, new { @class = "form-control" })
                        </td>

                    </tr>
            </table>
            <button class="btn btn-warning">Güncelle</button>
        </div>
    </div>
}
