
@using Entities.Concrete
@model Adaptation
@{
    ViewBag.Title = "AdaptationAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>İntibak Bilgisi Ekle</h3>
@using (Html.BeginForm("AdaptationAdd", "Adaptation", FormMethod.Post))
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>

                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td class="sorting_1"><b>Hizmetin Gectiği Yer</b></td>
                        <td>
                            @Html.Hidden("PersonelKimlikId", (int)ViewBag.PersonelKimlikId)
                            @Html.HiddenFor(x => x.PersonelIntibakId)
                            @Html.TextBoxFor(x => x.HizmetinGecYer, null, new { @class = "form-control" })
                        </td>
                        <td><b>Hizmetin Geçtiği Kurum</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.HizmetinGecKurum, null, new { @class = "form-control" })
                        </td>
                        <td><b>Başlama Tarihi</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.BaslamaTarihi, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "Date" })
                        </td>
                    </tr>
                    <tr>
                        <td><b>Bitiş Tarihi</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.BitisTarihi, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "Date" })
                        </td>
                        <td><b>Prim Gün Sayısı</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.PrimGunSayisi, null, new { @class = "form-control" })
                        </td>

                    </tr>
            </table>
            <button class="btn btn-success">Ekle</button>
        </div>
    </div>
}
