
@using Entities.Concrete
@model Course
@{
    ViewBag.Title = "CourseAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kurs Bilgisi Ekle</h3>
@using (Html.BeginForm("CourseAdd", "Course", FormMethod.Post))
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>

                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td class="sorting_1"><b>Türü</b></td>
                        <td>
                            @Html.HiddenFor(x => x.PersonelKimlikId)
                            @Html.HiddenFor(x => x.PersonelKursId)
                            @Html.TextBoxFor(x => x.Turu, null, new { @class = "form-control" })
                        </td>
                        <td><b>Şekli</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.Sekli, null, new { @class = "form-control" })
                        </td>
                        <td><b>Konusu</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.Konusu, null, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td><b>Kurs Sınav Adı</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.KursSinavAdi, null, new { @class = "form-control" })
                        </td>
                        <td><b>Başlangıç Tarihi</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.BaslamaTarihi, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "Date" })
                        </td>
                        <td><b>Bitiş Tarihi</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.BitisTarihi, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "Date" })
                        </td>

                    </tr>
            </table>
            <button class="btn btn-success">Ekle</button>
        </div>
    </div>
}

