@using Entities.Concrete
@model List<Identity>
@{
    ViewBag.Title = "FilterQueryAgePost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div class="info-box">
        <span class="info-box-icon bg-light-blue-active"><i class="fa fa-group "></i></span>

        <div class="info-box-content">
            <span class="info-box-text">@ViewBag.BaslangicYas ile @ViewBag.BitisYas Yaş Arası Personeller</span><br />
            <span class="info-box-number">Toplam Sayı: @ViewBag.AgeCount</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Sonuçlar</h3>
    </div>
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
            <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending">Tc Kimlik No</th>

                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Adı Soyadı</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Doğum Tarihi</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Farklı Sutun</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Farklı Sutun2</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Farklı Sütun3</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr role="row" class="odd">
                        <td class="sorting_1">@item.TcKimlikNo</td>
                        <td>@item.Adi @item.Soyadi</td>
                        <td>@item.DogumTarihi.Value.ToShortDateString()</td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>