@using Entities.Concrete.DynamicDataEntity
@model Workplace
@{
    ViewBag.Title = "WorkplaceGetById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>İş Bilgisi Güncelle</h3>
@using (Html.BeginForm("WorkplaceUpdate", "Workplace", FormMethod.Post))
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>

                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td class="sorting_1"><b>İş Yeri Sicil Nu</b></td>
                        <td>
                            @Html.HiddenFor(x => x.IsyeriId)
                            @Html.TextBoxFor(x => x.IsYeriSicilNu, null, new { @class = "form-control" })
                        </td>
                        <td><b>Birim</b></td>
                        <td> @Html.TextBoxFor(x => x.Birimi, new { @class = "form-control" })</td>

                    </tr>
                    <tr role="row" class="odd">


                        <td class="sorting_1"><b>Kuvveti</b></td>
                        <td> @Html.TextBoxFor(x => x.Kuvvet, new { @class = "form-control" })</td>
                        <td class="sorting_1"><b>İş Yeri Adı</b></td>
                        <td> @Html.TextBoxFor(x => x.IsyeriAdi, new { @class = "form-control" })</td>


                    </tr>
                   
                </tbody>
            </table>
            <button class="btn btn-warning">Güncelle</button>
        </div>
    </div>
}