@using Entities.Dto
@model List<PersonDto>
@{
    ViewBag.Title = "IndexQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Yabancı Dil Bilgisi Güncelle</h3>
<div class="container box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">TC Kimlik No İle Personel Ara</h3><br />
        <br />
        @using (Html.BeginForm("IndexQuery", "ForeignLanguage", FormMethod.Post))
        {
            <div class="row">

                <table>
                    <tr>
                        <td class="col-md-6">@Html.TextBox("TcNo", null, new { @class = "form-control" })</td>
                        <td><button type="submit" class="btn btn-info col-xs-pull-5">Sorgula</button></td>
                    </tr>
                </table>

            </div>

        }
    </div>
</div>
<!-- /.box-body -->
<div class="box-footer">
    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div>
        <div class="row">
            <div class="col-sm-12">
                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate " aria-sort="ascending">#</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">TC Kimlik No</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Adı</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Soyadı</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Çalıştığı Kurum</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Seçim</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var k in Model)
                        {
                            <tr role="row" class="odd">
                                <td class="sorting_1"></td>
                                <td>@k.TcNo</td>
                                <td>@k.Adi</td>
                                <td>@k.Soyadi</td>
                                <td>@k.CalistigiKurum  @k.Birimi</td>
                                <td><a href="/ForeignLanguage/ForeignLanguageGetList/@k.PersonelKimlikId" class="btn btn-warning col-xs-pull-5">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
