
@using Entities.Concrete
@model Designation
@{
    ViewBag.Title = "DesignationGetAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Nakil Talep Bilgisi Ekle</h3>
@using (Html.BeginForm("DesignationAdd", "Designation", FormMethod.Post))
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>

                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td class="sorting_1"><b>İş Yeri</b></td>
                        <td>
                            @Html.Hidden("PersonelKimlikId", (int)ViewBag.PersonelKimlikId)
                            @Html.HiddenFor(x => x.PersonelAtamaId)
                            @Html.DropDownListFor(x => x.IsYeriId, ViewBag.WorkPlaceGrpList as SelectList, "--İşyeri Seçiniz--", new { @class = "form-control" })
                        </td>
                        <td><b>Atama İsteği Nedeni</b></td>
                        <td>
                            @Html.DropDownListFor(x => x.AtamaIstegiNedenId, ViewBag.ReasonForDesignationGrpList as SelectList, "--Nakil Nedeni Seçiniz--", new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td><b>Katılış Tarihi</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.KatilisTarihi, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "Date" })
                        </td>
                        <td><b>Ayrılış Tarihi</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.AyrilisTarihi, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "Date" })
                        </td>
                    </tr>
                    <tr>
                        <td><b>Açıklama</b></td>
                        <td>
                            @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
                        </td>
                        <td><b>Nakil Durumu</b></td>
                        <td>
                            @Html.DropDownListFor(x => x.NakilDurumId, ViewBag.DesignationStatusGrpList as SelectList, "--Nakil Durumu Seçiniz--", new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td><b>İşveren Vekili Onayı</b></td>
                        <td>
                            @Html.DropDownListFor(x => x.IsVerenVekiliOnay, ViewBag.DesignationApprovalGrpList as SelectList, "--Onay Durumu Seçiniz--", new { @class = "form-control" })

                        </td>
                        <td><b>İlgili Gn. Md./Kuvvet Komutanı Onayı</b></td>
                        <td>
                            @Html.DropDownListFor(x => x.IlgiliGenelMudurOnay,ViewBag.DesignationApprovalGrpList as SelectList, "--Onay Durumu Seçiniz--", new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td><b>Personel Gn. Md. Onayı</b></td>
                        <td>
                            @Html.DropDownListFor(x => x.PersonelGenelMudurOnay,ViewBag.DesignationApprovalGrpList as SelectList, "--Onay Durumu Seçiniz--", new { @class = "form-control" })

                        </td>
                        <td><b></b></td>
                        <td>
                           </td>
                    </tr>
               </table>
            <button class="btn btn-success">Ekle</button>
        </div>
    </div>
}
