@using Entities.Dto
@model List<DesignationDto>
@{
    ViewBag.Title = "DesignationGetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Nakil Talep Bilgisi Güncelle</h3>
<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Nakil Talep Bilgileri</h3>
    </div>
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
            <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending">#</th>

                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">İş Yeri</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Nakil Nedeni</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Açıklama</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Katılış Tarihi</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Ayrılış Tarihi</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Nakil Durumu</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">1</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">2</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">3</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Seçim</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var e in Model)
                {
                    <tr role="row" class="odd">
                        <td class="sorting_1"></td>
                        <td>@e.Birimi</td>
                        <td>@e.AtamaIstegiNedeni</td>
                        <td>@e.Aciklama</td>
                        <td>
                            @if (@e.KatilisTarihi.HasValue) {@e.KatilisTarihi.Value.ToShortDateString() } else {@e.KatilisTarihi}
                             </td>
                        <td>
                            @if (@e.AyrilisTarihi.HasValue)
                            {@e.AyrilisTarihi.Value.ToShortDateString() }
                        else
                        {@e.AyrilisTarihi}
                        </td>
                        <td>@e.NakilDurum</td>
                        <td><input type="checkbox" checked="@e.IsVerenVekiliOnay"></td>
                        <td><input type="checkbox" checked="@e.IlgiliGenelMudurOnay"></td>
                        <td><input type="checkbox" checked="@e.PersonelGenelMudurOnay"></td>

                        <td>
                            <a href="/Designation/DesignationGet/@e.PersonelAtamaId" class=" btn btn-warning col-xs-pull-5">Güncelle</a>

                        </td>
                    </tr>

                }
                dsaf
            </tbody>
        </table>
        <br />





        <a href="/Designation/DesignationGetAdd/@ViewBag.PersonelKimlikId" class="btn btn-success col-xs-pull-5">Yeni Nakil Bilgisi Ekle</a>

        <a href="/Designation/DesignationPdf/@ViewBag.PersonelKimlikId" class="btn btn-github col-xs-pull-5">Yazdır</a>




        <table class="pull-right">
            <tr>
                <td><b>1:</b>İş Veren Vekili </td>
            </tr>
            <tr>
                <td><b>2:</b>İlgili Gn. Md./Kuvvet Komutanı</td>
            </tr>
            <tr>
                <td><b>3:</b>Personel Gn. Md.</td>
            </tr>
        </table>
    </div>
</div>
